html, body {
  width: 400px;
}

.hidden {
  display: none;
}

.button {
  margin: 2% auto;
  padding: 2px;
  text-align: center;
  font-size: 0.7em;
  cursor: pointer;
}

.new-category:hover {
  background-color: #CFF2F2;
}

.new-category {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}


.color-button
{ 
  width: 15px;
  height: 15px;
  border: none;
}

